.App {
  text-align: center;
  background-image: 100%;
}

.mainBody {
  margin-top: 5%;
}

// .searchBar {
//   size: 3em;
// }

.playlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
