.App {
  text-align: center;
  background-image: linear-gradient(white, grey);
  background-image: 100%;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    width: 300px;
    color: white;
  }
  img {
    height: 300px;
  }
}

div,
button {
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
